{{ define "main" }}

    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}
{{ $page := first 1 (where .Site.RegularPages "Title" "home") }}    {{ with index $page 0 }}
        {{/* Render with the page template or a suitable partial */}}
        <article class="main-article ">
        {{ partial "article-home/article-home.html" . }}

        </article>
    {{ else }}
        <p>No page found.</p>
    {{ end }}
    {{- partial "footer/footer" . -}}
{{ end }}
